/*É aplicado o box-sizing já no seletor universal do código, estamos tirando as coisas que o navegador coloca como padrão*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Para garantir que todas essas propriedades recebem a font Poppins*/
body, input, button, select, textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  
  background: #e5e5e5;
}

/*Colocando duas cores no body, no caso, essa  é a faixa preta no topo*/
/*sudo classes precisa de um content (conteudo) */
/*before está criando um elemento HTML no Css*/
body::before {
  content: '';
  width: 100%;
  height: 368px;
  
  /*
  o display block empurra os elementos para baixo
  display: block;
  Aqui no position, deixa o bloco por trás do conteudo, sem empurrar para baixo
  */
  position: absolute;
  /*
  aqui garante que vai ficar no canto superior esquero, destrava top-left-right-bottom para usarmos
  abre a possibilidade de uma propriedade z-index
  */
  top: 0;
  left: 0;
  /*
  é um terceiro eixo de profundidade (além do eixo x e eixo y que é vertical e horizontal
  é usado como sobreposição, usando -1 fica por trás das coisas no position
  */
  z-index: -1;
  background-color: #121214;
}

.page {
  width: 736px;
  /*FICA ALINHADO AO CENTRO DA PAGINA*/
  margin: 0 auto;
}

header {
  width: 319px;

  /*margin top do FORM */
  margin-top: 74px;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffff;

  margin-bottom: 24px;
}

header p {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 26px;
  
  color: #42d3ff;
}

form {
  margin-top: 38px;
  background-color: #fafafc;
  border-radius: 8px 8px 0 0;
  /*altura minima*/
  min-height: 300px ;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  /*Retirando as bordas do fieldset*/
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  /*Aqui falamos que é block e que precisa 100% na linha da borda inferior*/
  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

.input-wrapper {
  display:flex;
  /*estamos dizendo que, ao setar INLINE-BLOCK, queremos que um elemento fique abaixo do outro*/
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label {
  font-size: 14px;
  line-height: 24px;

  color: #4e4958;

  margin-bottom: 8px;
}

/*Empurrando e fazendo o espaço entre o titulo do evento e (minimo)*/
.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #a9a7af;
}

.input-wrapper label span:hover {
  color: #6c6a71;
} 

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background-color: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  /*Funciona como um calculo dentro da caixa, a partir da borda da caixa. Sem essa propriedade, precisamos fazer todo o calculo para encontrar o tamanho certo
  O valor de width e padding-left será aplicado para as BORDAS
  box-sizing: border-box;
  width: 200px;
  padding-left: 100px;*/

  height: 56px;
  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;
  color: #6c6a71;

}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  /*Vai remover a setinha da lista */
  appearance: none;
  /*São comandos para os motores de busca que fazem o uso do CSS, estamos dizendo para trabalharem com as propriedades appaarence mesmo que não funcione dessa forma é um set*/
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  /*Aplicando padding na imagem da setinha, usamos o 50% para centralizar*/
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 20px;
}

/*na primeira div da col-3*, diz qual o número do filho que eu quero trabalhar
selecionamos então o filho 1 (div 1)*/
.col-3 > div:nth-child(1) {
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  /*Antes de ser display block, primeiro precisa ser display flex*/
  display: flex;
  align-items: center;
  gap: 16px;
  /*alinhando o texto com o check-box*/
  margin: 0;
}

.checkbox-wrapper input {
  /*Desaparacendo com o display input do check-box
  display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  /*Tirando a visibilidade do check-box padrão, deixando invisivel*/
  opacity: 0;
}

.checkbox-wrapper label::before {
  /*Configurando a caixinha do check*/
  content: '';
  width: 24px;
  height: 24px;
  /*Para aparecer na tela, precisamos dizer qual é o display dele*/
  display: block;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  /*Fazendo alteração no check*/
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: contain;
}

/*Pseudo classe verificando se o check-box está em foco*/
.checkbox-wrapper input:focus + label::before{
  outline: 2px solid black;

}

footer {
  background-color: #f0f0f4;
  height: 136px;

  /*Estica o elemento*/
  display: flex;
  /*Vai mudar a direção para coluna */
  flex-direction:column;
  padding-inline-start: 40px 64px;
  margin-bottom: 100px;
  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}

footer .button {
  height: 56px;
  background-color: #04d361;
  /*Tirando a borda que já vem por padrão*/
  border: 0;
  border-radius: 8px;

  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffff;

  margin: 40px ;
}

footer .button:hover{
  background-color: #08a04c;
}

/*quando o usuario não preenche alguma informação*/
input:invalid {
  border: 2px solid red;
}